
body {
	background-color: #DDF;
	margin: 0px;
}

.header, .footer {
	background-color: #ECE;
	text-align: center;
	padding: 0.8%;
}

.login_form, .register_form, .search_form {
	background-color: #FDD;
	text-align: center;
	padding: 5px;
}

.post {
	border: 2px;
	border-color: #FFF;
	background-color: #EEF;
	margin: 10px;
	padding: 5px;
}

.thread {
	background-color: #EFE;
	margin: 15px;
	padding: 5px;
}

.forum {
	background-color: #FEE;
	margin: 15px;
	padding: 5px;
}

.class_privilege {
	border: 1px solid;
	border-color: #000;
	padding: 2px;
	margin: 2px;
}

.user_desc {
	text-align: center;
	padding: 5% 10% 5% 10%;
	margin: 5% 15% 5% 15%;
	background-color: #FFF;
}

.users_list {
	text-align: center;
}

.post_time {
	color: #CCC;
}

.post_quote {
	background-color: #DDC;
	margin: 5px;
	padding: 10px;
}

.posts_list, .threads_list, .forums_list, .classes_list {
	padding-left: 10%;
	padding-right: 10%;
}

.message {
	color: #46F;
}

.error_message {
	color: #F44;
}


.user_error {
	text-align: center;
	margin: 5%;
	padding-top: 5%;
	padding-bottom: 5%;
	background-color: #FFF;
}
